body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1441px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:811px;
}
#u4312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:811px;
  display:flex;
}
#u4312 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:811px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4313 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:811px;
  display:flex;
  opacity:0.02;
}
#u4313 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:309px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4314 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:246px;
  width:374px;
  height:309px;
  display:flex;
  opacity:0.34;
}
#u4314 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4314_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:279px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4315 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:261px;
  width:348px;
  height:279px;
  display:flex;
  opacity:0.78;
}
#u4315 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4316 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4317_input {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:40px;
  padding:2px 2px 2px 35px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4317_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:40px;
  padding:2px 2px 2px 35px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:50px;
}
#u4317 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:283px;
  width:298px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u4317 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 35px;
  box-sizing:border-box;
  width:100%;
}
#u4317_img.disabled {
}
#u4317.disabled {
}
#u4318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4318 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:293px;
  width:20px;
  height:20px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u4318 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4318_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4319_input {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:40px;
  padding:2px 2px 2px 35px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4319_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:40px;
  padding:2px 2px 2px 35px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:50px;
}
#u4319 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:342px;
  width:298px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u4319 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 35px;
  box-sizing:border-box;
  width:100%;
}
#u4319_img.disabled {
}
#u4319.disabled {
}
#u4320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4320 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:352px;
  width:20px;
  height:20px;
  display:flex;
}
#u4320 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
}
#u4321 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:485px;
  width:298px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u4321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4322_input {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4322_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:50px;
}
#u4322 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:405px;
  width:167px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4322 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4322_img.disabled {
}
#u4322.disabled {
}
#u4323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u4323 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:405px;
  width:115px;
  height:40px;
  display:flex;
}
#u4323 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4324 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:92px;
}
#u4325 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:145px;
  width:74px;
  height:92px;
  display:flex;
}
#u4325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:50px;
}
#u4326 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:164px;
  width:119px;
  height:50px;
  display:flex;
  opacity:0.63;
}
#u4326 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4327 label {
  left:0px;
  width:100%;
}
#u4327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u4327 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:458px;
  width:100px;
  height:15px;
  display:flex;
}
#u4327 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u4327_img.selected {
}
#u4327.selected {
}
#u4327_img.disabled {
}
#u4327.disabled {
}
#u4327_img.selectedDisabled {
}
#u4327.selectedDisabled {
}
#u4327_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u4327_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
