body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1441px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:811px;
}
#u4940 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:811px;
  display:flex;
}
#u4940 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4940_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:811px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:811px;
  display:flex;
  opacity:0.02;
}
#u4941 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4941_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:309px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4942 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:246px;
  width:374px;
  height:309px;
  display:flex;
  opacity:0.34;
}
#u4942 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4942_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:279px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4943 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:261px;
  width:348px;
  height:279px;
  display:flex;
  opacity:0.78;
}
#u4943 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4945_input {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:40px;
  padding:2px 2px 2px 35px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4945_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:40px;
  padding:2px 2px 2px 35px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:50px;
}
#u4945 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:283px;
  width:298px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u4945 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 35px;
  box-sizing:border-box;
  width:100%;
}
#u4945_img.disabled {
}
#u4945.disabled {
}
#u4946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4946 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:293px;
  width:20px;
  height:20px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u4946 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4946_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4947_input {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:40px;
  padding:2px 2px 2px 35px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4947_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:40px;
  padding:2px 2px 2px 35px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:50px;
}
#u4947 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:342px;
  width:298px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u4947 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 35px;
  box-sizing:border-box;
  width:100%;
}
#u4947_img.disabled {
}
#u4947.disabled {
}
#u4948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4948 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:352px;
  width:20px;
  height:20px;
  display:flex;
}
#u4948 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
}
#u4949 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:485px;
  width:298px;
  height:40px;
  display:flex;
  font-size:14px;
}
#u4949 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4950_input {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4950_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:50px;
}
#u4950 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:405px;
  width:167px;
  height:40px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4950 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4950_img.disabled {
}
#u4950.disabled {
}
#u4951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u4951 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:405px;
  width:115px;
  height:40px;
  display:flex;
}
#u4951 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4952 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:92px;
}
#u4953 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:145px;
  width:74px;
  height:92px;
  display:flex;
}
#u4953 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4953_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:50px;
}
#u4954 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:164px;
  width:119px;
  height:50px;
  display:flex;
  opacity:0.63;
}
#u4954 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4955 label {
  left:0px;
  width:100%;
}
#u4955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u4955 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:458px;
  width:100px;
  height:15px;
  display:flex;
}
#u4955 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u4955_img.selected {
}
#u4955.selected {
}
#u4955_img.disabled {
}
#u4955.disabled {
}
#u4955_img.selectedDisabled {
}
#u4955.selectedDisabled {
}
#u4955_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u4955_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
